<h1>Das Konsumspiel</h1>
<p>Warst du einkaufen? Erzähl uns von deinen Sünden:</p>

<div class="container-centered container">
  <div class="button btn-yellow-lg">
    <%= link_to "Jetzt eintragen", user_items_new_path, class: "nav-link" %>
  </div>
</div>

<div class="flex-container">
<% for i in 1..35 do %>
  <div class=
    <%= if i < 7
      "field"
    elsif i < 13
      "field-s"
    elsif i < 19
      "field-md"
    elsif i < 25
      "field-lg"
    elsif i < 31
      "field-xl"
    else
      "field-xxl"
    end %>>
  <div class=<%= i < 19 ? "number" : "number-lg" %>><%=i*10%></div>
  <% for player in @players.each do %>
    <% if player.points.round(-1) == i * 10 %>
      <div class="name"><%= player.first_name %></div>
    <% end %>
  <% end %>
  </div>
<% end %>
<div class="field-xxl">
  <%= cl_image_tag("rauch_xasbwz.png", class: "gameover-img") %>
  <p>Game Over</p>
</div>
</div>







