<h1>Das Konsumspiel</h1>
<p>Warst du einkaufen? Erzähl uns von deinen Sünden:</p>

<div class="container-centered container">
  <div class="button btn-yellow-lg">
    <%= link_to "Jetzt eintragen", user_items_new_path %>
  </div>
</div>

<div class="flex-container">
  <% for i in 0..34 do %>
    <div class=
      <%= if i < 6
        "field"
      elsif i < 12
        "field-s"
      elsif i < 18
        "field-md"
      elsif i < 24
        "field-lg"
      elsif i < 30
        "field-xl"
      else
        "field-xxl"
      end %>>
    
      <div class="number"><%=i*10%></div>

      <% @playerswithnumber = @players.select {|player| player.points.round(-1) == i * 10} %>

      <% if @playerswithnumber.size == 1 %>
        <% for player in @playerswithnumber do %>
          <div class="center mt-3">
            <%= cl_image_tag(player.photoname, class: "icon-img") %>
            <div class="name"><%= player.first_name %></div>
          </div>
        <% end %>
      <% elsif @playerswithnumber.size > 1 %>
        <div class="flexcontainer-animals">
          <% for player in @playerswithnumber do %>
            <%= cl_image_tag(player.photoname, class: "icon-img-sm", title: "#{player.first_name}") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="field-xxl">
    <%= cl_image_tag("rauch_xasbwz.png", class: "gameover-img") %>
    <p>Game Over</p>
  </div>
</div>







